.howWeWork {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background: linear-gradient(180deg, #1a1826, #413b5e);
}

.title {
  font-size: 3em;
  color: #f1f1f1;
  font-weight: 400;
  text-align: center;
}

.professional-image-container {
  width: 305px; /* Tamaño del contenedor redondo */
  height: 310px; /* Tamaño del contenedor redondo */
  border-radius: 50%;
  background-color: #9CBC99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  position: relative; /* Añade posición relativa para poder ajustar la imagen dentro */
}

.professional-image {
  width: 80%;
  height: 80%;
  /* object-fit: cover; Ajusta la imagen para cubrir el contenedor */
}

.professional-image.alexander {
  transform: scale(1.2); /* Ajusta el tamaño de la imagen específica */
  position: relative; /* Añade posición relativa */
  left: -30px; /* Ajusta el valor para mover la imagen a la izquierda */
}

@font-face {
  font-family: 'Demo Regular';
  src: url('../assets/fonts/Daily Challenge DEMO.otf') format('truetype');
}

body {
  font-family: 'Demo Regular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Demo Regular', Arial, sans-serif;
}