.navBarContainer {
  width: 100%;
}

.topBar {
  background-color: #f6921e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navOnScroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px; /* Ajusta el tamaño del logo aquí */
  height: auto;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
}

.logoSubtext {
  font-size: 16px;
  color: gray;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 24px; /* Tamaño de fuente aumentado */
}

.navButton {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px; /* Tamaño de fuente aumentado */
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.navButton:hover {
  background-color: #f0a532;
  color: white;
}

.border {
  height: 2px;
  background-color: black;
}

.contactLinkContainer {
  display: flex;
  align-items: center;
}

.contactButton {
  background-color: transparent;
  /* border: 2px solid black; */
  color: black;
  padding: 10px 20px;
  font-size: 24px; /* Tamaño de fuente aumentado */
  cursor: pointer;
  border-radius: 5px;
}

.contactButton:hover {
  background-color: #f0a532;
  color: white;
}

.socialButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.socialButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
